
services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - "postgres:/var/lib/postgresql/data"

volumes:
  postgres:
